{{/* JSON-LD structured data for GEO / AI search engines */}}
{{- $author := dict
    "@type" "Person"
    "name" "小盒子"
    "url" "https://github.com/xiaobox"
-}}

{{- if .IsHome -}}
{{- $ld := dict
    "@context" "https://schema.org"
    "@type" "WebSite"
    "name" .Site.Title
    "url" .Site.BaseURL
    "description" .Site.Params.description
    "inLanguage" "zh-CN"
    "author" $author
-}}
<script type="application/ld+json">
{{ $ld | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end -}}

{{- if and (eq .Kind "page") (eq .Section "post") -}}
{{- $desc := .Description -}}
{{- if not $desc -}}{{- $desc = .Summary | plainify -}}{{- end -}}
{{- $image := "" -}}
{{- with .Params.image -}}{{- $image = . | absURL -}}{{- end -}}
{{- $ld := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" ($desc | plainify | truncate 300)
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "author" $author
    "publisher" (dict
        "@type" "Organization"
        "name" .Site.Title
        "url" .Site.BaseURL
    )
    "mainEntityOfPage" (dict
        "@type" "WebPage"
        "@id" .Permalink
    )
    "url" .Permalink
    "inLanguage" "zh-CN"
    "wordCount" .WordCount
-}}
{{- with .Params.tags -}}{{- $ld = merge $ld (dict "keywords" .) -}}{{- end -}}
{{- with $image -}}{{- $ld = merge $ld (dict "image" .) -}}{{- end -}}
<script type="application/ld+json">
{{ $ld | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end -}}
